.overlay {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
/*    -webkit-column-width: 23;
    -moz-column-width: 23;
    column-width: 23;*/
    padding: 105px 12px 0 12px;
}

.overlay .pics {

    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.overlay .pics:hover {
    filter: opacity(.6);
}

.pics img {
    width: 100%;
}

@media (max-width: 991px) {
    .overlay {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .overlay {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      /*  -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;*/
        padding: 3px 0;
    }

    .overlay .pics {
        margin-bottom: 5px;
    }
}

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 1000;
}

.modal.open{
    width: 100%;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.modal img{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}

.modal.open button{
    position: fixed;
    top: 20px;
    right: 25px;
    border: none;
    font-size: 25px;
    padding: 0;
    margin: 0;
    color: #c5d02f;
    cursor: pointer;
}