.dynamics {
    color: #282828;
}

.dynamics .dynamicsHeader {
    position: relative;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.dynamicsHeader img {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(75%);
    padding-bottom: 100px;
}

.dynamicsHeader h2 {
    font-size: calc(40px + 20 * (100vw / 1440));
    z-index: 5;
    margin-top: 45%;
    margin-right: 30%;
    margin-left: 20px;
    color: #E5E5E5;
}

.dynamics .description {
    display: grid;
    grid-template-columns: 5fr 6fr;
    justify-content: center;
    margin-bottom: 30px;
}

.description .text {
    align-self: center;
    padding: 0 25px;
    height: 100%;
}

.description .text h3 {
    padding-top: 0;
}
.dynamics .description p{
    font-size: 20px;
}
.description .image {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.description img {
    width: 100%;
}

.working {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.workingBanner {
    background-color: #434343;
    display: flex;
    padding: 40px 0;
}

.working h2 {
    margin: 0;
    padding: 0;
    color: #282828;
    text-align: center;
    align-self: center;
    font-size: calc(84px + 20 * (100vw / 1440));
}

.workingList {
    background-color: #9d9d9d;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
}

.workingList li {
    list-style-position: outside;
    font-size: 20px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px;
    column-gap: 50px;
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info h2 {
    margin: 0;
    padding: 0;
}

.materials {
    padding: 20px 30px 0 60px;

}

.project {
    background-color: #9d9d9d;
    padding: 40px;
}

.totalInfo {
    background-color: #434343;
    margin-top: 50px;
    padding: 0 200px 10px 200px;
}

.totalInfo h3 {
    color: #E5E5E5;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    justify-self: center;
}

@media (max-width: 1000px) {
    .dynamicsHeader h2 {
        font-size: 32px;
        margin-top: 50%;
    }
}

@media (max-width: 799px) {
    .dynamicsHeader h2 {
        font-size: 30px;
        margin-top: 45%;
    }
    .dynamics .description{
        display: flex;
        flex-direction: column;
    }
    .dynamics .working{
        display: flex;
        flex-direction: column;
    }
    .dynamics .workingBanner h2{
        font-size: 44px;
        margin: 0 auto;
    }
    .dynamics .workingList{
        padding: 20px;
    }
    .dynamics .pictures{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .dynamics .picture{
        margin: 0;
        padding-bottom: 10px;
    }
    .dynamics .info{
        display: flex;
        flex-direction: column;
    }
    .dynamics .info .materials{
        padding: 20px;
    }
    .dynamics .info .project{
        padding: 20px;
    }
    .dynamics .totalInfo{
        padding: 20px;
        margin: 0;
    }
    .dynamics .totalInfo h3{
        font-size: 24px;
    }
}

@media (max-width: 650px) {
    .dynamicsHeader h2 {
        font-size: 24px;

    }
}
@media (max-width: 550px) {
    .dynamicsHeader h2 {
        font-size: 18px;

    }
}
@media (max-width: 420px) {
    .dynamicsHeader h2 {
        margin-top: 47%;
        font-size: 14px;

    }
}