.projectsOverlay {
    background-color: #282828;
    margin: 0;
}

.projectsContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.projectsBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.projectBlockItem {
    width: 100%;
    position: relative;
}

.projectBlockItem img {
    width: 100%;
    filter: brightness(75%);
}

.header {
    padding: 30px 0;
    width: 150px;
}

.projectsOverlay .header h2 {
    padding: 0;
    color: #c7d02f;
    font-size: calc(64px + 2 * (100vw / 1440));;
}

.lookingBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;

}
.text{
    position: absolute;
    color: #E5E5E5;
    z-index: 5;
    top: 70%;
    padding: 0px 0px 0px 15px;
}
.text h2{
    font-size: 36px;
    margin: 0;
}
.text p{
    font-size: 24px;
    font-family: "Gotham Pro";
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.title {
    align-self: end;
    width: 70%;
    border-bottom: 1px solid #E5E5E5;
}

.lookingBlock p {
    color: #E5E5E5;
}
.lookingBlock button{
    cursor: pointer;
}

@media (max-width: 800px) {
    .projectsBlock {
        grid-template-columns: 1fr;
    }
    .projectsOverlay .header h2{
        font-size: 32px;
        padding-left: 5%;
    }
    .projectsOverlay .projectBlockItem h2{
        font-size: 24px;
    }
}