.blum {
    color: #282828;
}

.blum .blumHeader {
    position: relative;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.blumHeader img {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(75%);
    padding-bottom: 100px;
}

.blumHeader h2 {
    font-size: calc(40px + 20 * (100vw / 1440));
    z-index: 5;
    margin-top: 50%;
    margin-right: 50%;
    color: #E5E5E5;
}

.description {
    display: grid;
    grid-template-columns: 5fr 6fr;
    justify-content: center;
    margin-top: 15%;
}

.description .text {
    border-right: 1px solid #282828;
    padding: 0 25px;
    height: 100%;
}

.description .text h3 {
    padding-top: 0;
}

.description .image {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.description img {
    width: 70%;
}

.working {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.workingBanner {
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.working h2 {
    color: #c7d02f;
    font-size: 44px;
    text-align: center;
}

.workingList {
    background-color: #9d9d9d;
    padding: 30px;
}

.workingList li {
    list-style-position: outside;
    font-size: 20px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 30px 70px 30px 70px;
    column-gap: 30px;
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info h2 {
    margin: 0;
    padding: 0;
}

.materials {
    padding: 20px 0 0 20px;
    border-top: 1px solid #282828;
   /* border-left: 1px solid #282828;*/
    border-bottom: 1px solid #282828;
}
.materials h2{
    font-size: 32px;
}

.project {
    background-color: rgba(157, 157, 157, 0.5);
    padding: 20px;
}
.project h2{
    font-size: 32px;
}

.totalInfo {
    padding: 20px;
    background-color: rgba(67, 67, 67, 0.5);
    display: grid;
}

.totalInfo h3 {
    color: #c7d02f;
    font-size: 48px;
    font-weight: 400;
    padding: 10px 60px;
    text-align: center;
}

@media (max-width: 1100px) {
    .blumHeader h2 {
        margin-right: 35%;
    }
}

@media (max-width: 800px) {
    .blumHeader h2 {
        font-size: 20px;
    }

    .blum .description {
        display: flex;
        flex-direction: column;
    }

    .blum .description {
        border: none;
        margin-top: 14%;
    }

    .blum .description image {
        padding-bottom: 0;
    }

    .blum .description .text {
        border: none;
    }

    .blum .description .image {
        width: 100%;
    }

    .blum .description .image img {
        width: 100%;
    }

    .blum .working {
        display: flex;
        flex-direction: column;
    }

    .blum .working h2 {
        padding-left: 5%;
        font-size: 28px;
    }

    .blum .workingList {
        padding-top: 20px;
    }

    .blum .pictures {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        row-gap: 5px;
    }

    .blum .info {
        display: flex;
        flex-direction: column;
    }

    .blum .info .materials {
        border: none;
    }

    .blum .totalInfo {
        padding: 5px;
    }

    .blum .totalInfo h3 {
        font-size: 20px;
        padding: 10px 0;
    }
}