.connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.connectText p {
    border-bottom: 1px solid #282828;
    padding-bottom: 5px;
}
.connect button{
    color: #282828;
    font-weight: bold;
    background-color: #c7d02f;
    border-color: #c7d02f;
    margin: 10px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .connect{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}