.contacts {
    background-color: #434343;
    display: grid;
    grid-template-areas:
            "m  t"
            "f f";
}

.mapOverlay {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.map {
    grid-area: m;
    width: 95%;
    height: 300px;
    border: 0;
    margin-top: 150px;
}

.textOverlay {
    grid-area: t;
    padding-left: 150px;
}

.textOverlay h2 {
    color: #c7d02f;
    margin: 0px;
    padding: 150px 0px 0px 100px;
    font-size: 24px;
}


.contacts p {
    padding: 10px 0px 0px 50px;
    font-size: 20px;
    color: #c7d02f;
}

.userContacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}


@media (max-width: 1024px) {
    .contacts {
        display: flex;
        flex-direction: column;
    }

    .contacts .textOverlay {
        padding-left: 10%;
    }

    .contacts h2 {
        padding: 10px 0px 0px 50px;
    }

    .map {
        width: 80%;
        height: 300px;
        margin: 50px;
    }

    .textOverlay {
        padding: 0;
        margin: 0;
    }
}

/*@media (max-width: 800px) {

}*/
@media (max-width: 800px) {
    .map {
        height: 200px;
        padding-left: 150px;
    }

    .contacts h2 {
        margin: 0px;
        padding: 20px 0px 0px 100px;
        font-size: 24px;
    }

    .mapOverlay {
        padding: 0;
        margin: 0;
    }

    .contacts .map {
        padding: 0;
        width: 80%;
        height: 300px;
        border: 0;
        margin-top: 50px;
    }

    button {
        width: auto;
    }
}

@media (max-width: 450px) {
    .mapOverlay {
        padding-left: 0;
    }

    .contacts .textOverlay {
        padding-left: 10px;
    }
    .contacts .textOverlay h2{
        padding: 0;
        text-align: center;
    }

    .contacts .map {
        padding: 30px;
        margin: 0;
        width: 85%;
        height: 300px;

    }
}