.hostel {
    color: #282828;
}

.hostel .hostelHeader {
    position: relative;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hostelHeader img {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(55%);
    padding-bottom: 100px;
}

.hostelHeader h2 {
    font-size: calc(40px + 20 * (100vw / 1440));
    z-index: 5;
    margin-top: 45%;
    margin-right: 40%;
    color: #E5E5E5;
    padding-left: 20px;
    margin-bottom: 0;
}

.hostel .description {
    display: grid;
    grid-template-columns: 5fr 6fr;
    /*border-bottom: 1px solid #282828;*/
    justify-content: center;
    margin-top: 210px;
    margin-bottom: 30px;
}

.hostel .description .text {
    align-self: center;
    /*border-right: 1px solid #282828;*/
    padding: 0 25px;
    height: 100%;
}



.description .image {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.description img {
    width: 100%;
}

.working {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.workingBanner {
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.working h2 {
    color: #c7d02f;
    font-size: 44px;
}

.workingList {
    background-color: #9d9d9d;
    padding: 30px;
}

.workingList li {
    list-style-position: outside;
    font-size: 20px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 70px;
    column-gap: 50px;
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info h2 {
    margin: 0;
    padding: 0;
}

.materials {
    padding: 20px 0 0 60px;
   /* border-top: 1px solid #282828;
    border-left: 1px solid #282828;
    border-bottom: 1px solid #282828;*/
}

.project {
    background-color: #9d9d9d;
    padding: 40px;
}

.totalInfo {
    background-color: #434343;
    padding: 0 200px 10px 200px;
}

.totalInfo h3 {
    color: #c7d02f;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    justify-self: center;
}



@media (max-width: 800px) {
    .hostel .hostelHeader h2{
        font-size: 32px;
    }
    .hostel .description{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .hostel .description .text{
        padding-bottom: 20px;
        border: none;
    }
    .hostel .working{
        display: flex;
        flex-direction: column;
    }
    .hostel .working .workingBanner h2{
        font-size: 28px;
        margin: 0 auto;
    }
    .hostel .working .workingList{
        padding: 20px 0;
    }
    .hostel .pictures{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .hostel .pictures .picture{
        padding-bottom: 10px;
    }
    .hostel .info{
        display: flex;
        flex-direction: column;
    }
    .hostel .info .materials{
        padding: 20px;
    }
    .hostel .totalInfo{
        margin: 0;
        padding: 25px;
    }
    .hostel .totalInfo h3{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .hostel .hostelHeader h2{
        font-size: 20px;
    }
}

