.office {
    color: #282828;
}

.office .officeHeader {
    position: relative;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.officeHeader img {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(75%);
}

.officeHeader h2 {
    font-size: calc(20px + 20 * (100vw / 1440));
    z-index: 5;
    margin-top: 45%;
    margin-right: 50%;
    margin-left: 20px;
    color: #e5e5e5;
}

.description {
    display: grid;
    grid-template-columns: 5fr 6fr;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10%;
}

.description .text {
    align-self: center;
    /*border-right: 1px solid #282828;*/
    padding: 0 25px;
    height: 100%;
}

.description .text h3 {
    padding-top: 50px;
    color: #c7d02f;
    font-size: 36px;
}

.description .image {
    display: flex;
    justify-content: center;
}

.description img {
    width: 100%;
}

.working {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.workingBanner {
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}

.working h2 {
    color: #c7d02f;
    text-align: center;
    font-size: 44px;
}

.workingList {
    background-color: #9d9d9d;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 70px;
    column-gap: 50px;
}
.office .linkItem{
    display: flex;
    font-weight: bold;
}
.office .linkItem span{
    color: #282828;
    font-size: 20px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info h2 {
    margin: 0;
    padding: 0;
}

.materials {
    padding: 20px 0 0 60px;
    border-top: 1px solid #282828;
    border-left: 1px solid #282828;
    border-bottom: 1px solid #282828;
}

.project {
    background-color: #9d9d9d;
    padding: 40px;
}

.totalInfo {
    background-color: #434343;
    margin-top: 50px;
    padding: 0 200px 10px 200px;
}

.totalInfo h3 {
    color: #c7d02f;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    justify-self: center;
}

@media (max-width: 800px) {
    .officeHeader h2 {
        font-size: 20px;
    }

    .office .description {
        display: flex;
        flex-direction: column;
        padding-top: 135px;
    }

    .office .description {
        border: none;
        margin: 0;
    }

    .office .description .text {
        border: none;
    }
    .office .description .text h3{
        padding-top: 0;
        margin-top: 30px;
    }

    .office .description .image {
        width: 100%;
        padding-bottom: 0;
    }

    .office .description .image img {
        width: 100%;
        padding: 0;
    }

    .office .working {
        display: flex;
        flex-direction: column;
    }

    .office .working h2 {
        padding-left: 5%;
        font-size: 28px;
    }

    .office .workingList {
        padding: 20px 20px;
    }

    .office .pictures {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        row-gap: 5px;
    }

    .office .info {
        display: flex;
        flex-direction: column;
    }

    .office .materials {
        border: none;
        padding: 20px 0 20px 20px;
        text-align: start;

    }
    .office .project{
        padding: 20px;
    }

    .office .totalInfo {
        padding: 20px;
        margin-top: 0;
    }

    .office .totalInfo h3 {
        font-size: 24px;
    }
}

@media (max-width: 700px) {
    .office .description {
        padding-top: 100px;
    }
    .officeHeader h2 {
        font-size: calc(10px + 20 * (100vw / 1440));
        z-index: 5;
        margin-top: 35%;
    }
    .office .pictures{
        padding: 0;
    }
}

@media (max-width: 430px) {
    .office .description {
        padding-top: 30px;
    }
    .working h2{
        font-size: 38px;
        padding: 20px;
    }
    .workingList{
        padding: 20px;
    }
    .officeHeader h2 {
        font-size: calc(10px + 20 * (100vw / 1440));
        z-index: 5;
        margin-top: 35%;

    }
}

@media (max-width: 380px) {
    .office .description {
        padding-top: 10px;
    }
}