.projector {
    color: #282828;
}

.projector .projectorHeader {
    position: relative;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectorHeader img {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(75%);
}

.projectorHeader h2 {
    font-size: calc(40px + 20 * (100vw / 1440));
    z-index: 5;
    margin-top: 40%;
    margin-right: 30%;
    margin-left: 20px;
    color: #E5E5E5;
}

.description {
    display: grid;
    grid-template-columns: 5fr 6fr;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 30px;
}

.description .text {
    align-self: center;
    border-right: 1px solid #282828;
    padding: 0 25px;
    height: 100%;
}

.description .text h3 {
    padding-top: 0;
}

.description .image {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.description img {
    width: 70%;
}

.working {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.workingBanner {
    background-color: #434343;
    display: flex;
    padding: 40px 0;
}

.working h2 {
    margin: 0;
    padding: 0;
    color: #282828;
    text-align: center;
    align-self: center;
    font-size: 44px;
}

.workingList {
    background-color: #9d9d9d;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.workingList li {
    list-style-position: outside;
    font-size: 20px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px;
    column-gap: 50px;
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info h2 {
    margin: 0;
    padding: 0;
}

.materials {
    padding: 20px 0 0 60px;
    border-top: 1px solid #282828;
    border-left: 1px solid #282828;
    border-bottom: 1px solid #282828;
}

.project {
    background-color: #9d9d9d;
    padding: 40px;
}

.totalInfo {
    background-color: #434343;
    margin-top: 50px;
    padding: 0 200px 10px 200px;
}

.totalInfo h3 {
    color: #E5E5E5;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    justify-self: center;
}


@media (max-width: 800px) {
    .projectorHeader h2 {
        font-size: 20px;
    }

    .projector .description {
        display: flex;
        flex-direction: column;
        padding-top: 135px;
    }

    .projector .description {
        border: none;
        margin: 0;
    }

    .projector .description .text {
        border: none;
    }

    .projector .description .image {
        width: 100%;
        padding-bottom: 0;
    }

    .projector .description .image img {
        width: 100%;
        padding: 0;
    }

    .projector .working {
        display: flex;
        flex-direction: column;
    }

    .projector .working h2 {
        padding-left: 5%;
        font-size: 28px;
    }

    .projector .workingList {
        padding-top: 20px;
    }

    .projector .pictures {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        row-gap: 5px;
    }

    .projector .info {
        display: flex;
        flex-direction: column;
    }

    .projector .materials {
        border: none;
        padding: 20px 0 20px 20px;
        text-align: start;

    }
    .projector .project{
        padding: 20px;
    }

    .projector .totalInfo {
        padding: 20px;
        margin-top: 0;
    }

    .projector .totalInfo h3 {
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    .projector .description {
        padding-top: 100px;
    }
}

@media (max-width: 430px) {
    .projector .description {
        padding-top: 30px;
    }
}

@media (max-width: 380px) {
    .projector .description {
        padding-top: 10px;
    }
}