.headerOverlay {
    width: 100%;
    display: grid;
    background-color: rgba(132, 131, 135, 0.5);
    grid-template-columns: 200px 1fr 250px;
    position: absolute;
    top: 0;
    z-index: 10;
}

.logo {
    width: 100%;
    padding: 13px 0 5px 15px;
}


.headerOverlay img {
    width: 100%;
}

.headerOverlay a {
    text-decoration: none;
    color: #c5d02f;
    padding-left: 20px;
}

.navBar {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.navBar .active {
    color: #c7d02f;
    font-size: 28px;
    padding: 10px;
}

.navBar a {
    padding: 10px 10px;
    font-size: 22px;
    color: #E5E5E5;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.4s ease; /* Safari and Chrome */
    -moz-transition: 0.4s ease; /* Firefox 4 */
    -o-transition: 0.4s ease; /* Opera */
}

.navBar a:hover {
    text-shadow: 1px 1px 8px green;
}

.phones {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.headerOverlay .phones p {
    align-self: center;
    justify-self: center;
    display: flex;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

.menu {
    display: none;
}

.line {
    margin-top: 4px;
    width: 25px;
    border: 2px solid #e5e5e5;
    z-index: 5;
}


@media (max-width: 1024px) {
    .headerOverlay {
        display: grid;
        position: relative;
        background-color: rgba(132, 131, 135, 0.3);
        grid-template-columns: 50px 1fr 200px;
    }

    .navBar {
        display: none;
    }

    .menu {
        display: block;
        padding-left: 18px;
        padding-top: 17px;
        cursor: pointer;
    }

    .logo {
        width: 120px;
        justify-self: center;
    }

    .phones {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .headerOverlay .phones p {
        display: flex;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

}