.headerOverlay {
    width: 100%;
    display: grid;
    background-color: rgba(132, 131, 135, 0.7);
    grid-template-columns: 250px 1fr 60px 230px;
    position: absolute;
    top: 0;
    z-index: 10;
}

.callIcon {
    position: fixed;
    width: 70px;
    height: 70px;
    top: 85%;
    left: 85%;
    z-index: 50;
    border-radius: 50%;
    background-color: #c7d02f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    padding: 13px 0 5px 15px;
}

.headerOverlay img {
    width: 100%;
}

.headerOverlay a {
    text-decoration: none;
    color: #c5d02f;
    padding-left: 20px;
}

.navBar {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.navBar .active {
    color: #c7d02f;
    font-size: 28px;
    padding: 10px;
}

.navBar a {
    padding: 10px 10px;
    font-size: 22px;
    color: #E5E5E5;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.4s ease; /* Safari and Chrome */
    -moz-transition: 0.4s ease; /* Firefox 4 */
    -o-transition: 0.4s ease; /* Opera */
}

.navBar a:hover {
    text-shadow: 1px 1px 8px green;
}

.phones {
    display: flex;
}

.phones .langBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 0;
}

.phones select {
    color: #c5d02f;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.phones option {
    background-color: #9d9d9d;
}

.phonesBlockDesc {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 20px;
}

.phonesBlockDesc p {
    display: flex;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}
.phonesBlockMob{
    display: none;
}

.menu {
    display: none;
}

.line {
    margin-top: 4px;
    width: 25px;
    border: 2px solid #e5e5e5;
    z-index: 5;
}


@media (max-width: 1150px) {
    .callIcon {
        top: 85%;
        left: 70%;
    }

    .overlay {
        display: flex;
        flex-direction: column;
    }

    .headerOverlay {
        display: grid;
        position: relative;
        background-color: rgba(132, 131, 135, 0.3);
        grid-template-columns: 50px 1fr 80px;
    }

    .navBar {
        display: none;
    }

    .menu {
        display: block;
        padding-left: 18px;
        padding-top: 17px;
        cursor: pointer;
    }

    .logo {
        width: 120px;
        justify-self: center;
    }

    .phones select {
        color: #c5d02f;
        background-color: transparent;
        border: none;
        height: 30px;
        font-size: 20px;
    }

    .overlay .phonesBlockDesc{
        display: none;
    }

    .overlay .phonesBlockMob {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .overlay .phonesBlockMob a {
        text-decoration: none;
        color: #282828;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 10px;
    }
}