.appartaments {
    color: #282828;
}

.appartaments .appartamentsHeader {
    position: relative;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.appartamentsHeader img {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(75%);
    padding-bottom: 100px;
}

.appartamentsHeader h2 {
    font-size: calc(40px + 20 * (100vw / 1440));
    z-index: 5;
    margin-top: 45%;
    margin-right: 30%;
    margin-left: 20px;
    color: #E5E5E5;
}

.description {
    display: grid;
    grid-template-columns: 5fr 6fr;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 30px;
}

.description .text {
    align-self: center;
    border-right: 1px solid #282828;
    padding: 0 25px;
    height: 100%;
}

.description .text h3 {
    padding-top: 0;

}

.description .image {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.description img {
    width: 70%;
}

.working {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.workingBanner {
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.working h2 {
    margin: 0;
    padding: 0;
    color: #c7d02f;
    font-size: 44px;
}

.workingList {
    background-color: #9d9d9d;
    padding: 30px;
}

.workingList li {
    list-style-position: outside;
    font-size: 20px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px;
    column-gap: 50px;
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
}

.picture img {
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info h2 {
    margin: 0;
    padding: 0;
}

.materials {
    padding: 20px 0 0 60px;
    border-top: 1px solid #282828;
    border-left: 1px solid #282828;
    border-bottom: 1px solid #282828;
}

.project {
    background-color: #9d9d9d;
    padding: 40px;
}

.totalInfo {
    padding: 20px;
    background-color: rgba(67, 67, 67, 0.5);
    display: grid;
}

.totalInfo h3 {
    color: #c7d02f;
    font-size: 48px;
    font-weight: 400;
    padding: 0 60px;
    text-align: center;
}

@media (max-width: 800px) {
    .appartamentsHeader h2 {
        font-size: 20px;
    }

    .appartaments .description {
        display: flex;
        flex-direction: column;
        padding-top: 135px;
    }

    .appartaments .description {
        border: none;
        margin: 0;
    }

    .appartaments .description .text {
        border: none;
    }

    .appartaments .description .image {
        width: 100%;
        padding-bottom: 0;
    }

    .appartaments .description .image img {
        width: 100%;
        padding: 0;
    }

    .appartaments .working {
        display: flex;
        flex-direction: column;
    }

    .appartaments .working h2 {
        padding-left: 5%;
        font-size: 28px;
    }

    .appartaments .workingList {
        padding-top: 20px;
    }

    .appartaments .pictures {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        row-gap: 5px;
    }

    .appartaments .info {
        display: flex;
        flex-direction: column;
    }

    .appartaments .materials {
        border: none;
        padding: 20px 0 20px 20px;
        text-align: start;

    }
    .appartaments .project{
        padding: 20px;
    }

    .appartaments .totalInfo {
        padding: 20px;
        margin-top: 0;
    }

    .appartaments .totalInfo h3 {
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    .appartaments .description {
        padding-top: 100px;
    }
}

@media (max-width: 430px) {
    .appartaments .description {
        padding-top: 30px;
    }
}

@media (max-width: 380px) {
    .appartaments .description {
        padding-top: 10px;
    }
}
