.portfolio .portfolioOverlay {
    position: relative;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioOverlay img {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(75%);
}

.portfolioOverlay h2 {
    color: #E5E5E5;
    font-size: calc(44px + 20 * (100vw / 1440));
    z-index: 5;
    margin-top: 50%;
}

.portfolio .banner1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 150px;
}

.banner1 .bannerItem {
    color: #282828;
    padding: 20px 0;
}

.portfolio .bannerItem h2{
    margin: 0;
    font-size: calc(24px + 20 * (100vw / 1440));
    padding: 30px 0 0 30px;
}
.bannerItem p{
    padding-left: 30px;
}

.banner1 .bannerItem:nth-child(2) {
    border-right: 1px solid #282828;
    border-left: 1px solid #282828;
}

.examples{
    padding: 20px;
    background-color: #282828;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 30px;
}

.example {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    position: relative;
}

.example h3{
    position: absolute;
    width: 70%;
    z-index: 10;
    top: 240px;
    left: 100px;
    color: #ffffff;
    font-size: 25px;
    opacity: 0;
    transition: 0.7s;
}

.example:hover{
    scale: 110%;
}
.example:hover h3{
    opacity: 100;
}

.example img{
    width: 100%;
}

@media (max-width: 1500px) {
    .portfolio .banner1{
        padding-top: 100px;
    }
}
@media (max-width: 1200px) {
    .portfolio .banner1{
        padding-top: 50px;
    }
}
@media (max-width: 800px) {
    .portfolioOverlay h2{
        margin-top: 40%;
        padding-left: 120px;
    }
    .portfolio .banner1{
        display: flex;
        flex-direction: column;
    }
    .portfolio .examples .example{
        padding-bottom: 10px;
    }
    .portfolio .examples .example h3{
        position: absolute;
        top:20%;
        left: 15px;
        opacity: 100;
    }
    .portfolio .bannerItem:nth-child(2){
        border: none;
    }
    .portfolio .examples{
        display: flex;
        flex-direction: column;
    }
}
/*@media (max-width: 800px) {
    .portfolioOverlay h2 {
        font-size: 44px;
        margin-top: 45%;
        padding-left: 50px;
    }
}*/
@media (max-width: 500px) {
    .portfolioOverlay h2 {
        font-size: 36px;
        margin-top: 35%;
        padding-left: 50px;
    }
}