.footerOverlay {
    background-color: #9d9d9d;
    display: grid;
    grid-template-columns: 5fr 3fr 6fr 6fr;
   /* border-top: 1px solid #282828;*/
    border-collapse: collapse;
}

.logo {
    display: grid;
   /* border: 1px solid #282828;*/
    border-top: none;
}

.logoText {
    /*border-bottom: 1px solid #282828;*/
    padding-top: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoText img {
    width: 200px;
}

.logoText p {
    margin: 0;
    padding-top: 15px;
    width: 250px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.social p{
    padding: 0 40px;
}

.social .icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding-bottom: 10px;
}
.social .icons a{
    color: #c7d02f;
}

.social .socialIcon{
    font-size: 40px;
}

.footerOverlay .menu {
   /* border-right: 1px solid #282828;
    border-bottom: 1px solid #282828;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #282828;
    padding: 0;
    margin: 0;
}

.contacts {
   /* border-right: 1px solid #282828;
    border-bottom: 1px solid #282828;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other {
    /*border-bottom: 1px solid #282828;
    border-right: 1px solid #282828;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other p {
    padding: 30px;

}
.other button{
    margin-top: 20px;
    height: 50px;
    background-color: #c7d02f;
    border: none;
    color: #282828;
    font-weight: bold;
}

.police {
    font-size: 12px;
    padding-top: 15px;
    opacity: 50%;
}

@media (max-width: 600px) {
    .footerOverlay {
        display: flex;
        flex-direction: column;
    }
    .footerOverlay .menu{
        display: none;
    }
    .footerOverlay .lang{
        display: none;
    }
    .other p {
        text-align: center;
        padding: 0 40px;
    }
    .contacts p {
        padding: 0;
        margin: 10px;
    }
}