.footerOverlay {
    background-color: #9d9d9d;
    display: grid;
    grid-template-columns: 5fr 3fr 6fr 7fr;
    border-top: 1px solid #282828;
    border-collapse: collapse;
}

.logo {
    display: grid;
    box-sizing: border-box;
    border: 1px solid #282828;
    border-top: none;
}

.logoText {
    box-sizing: border-box;
    border-bottom: 1px solid #282828;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoText img {
    width: 200px;
}

.logoText p {
    margin: 0;
    padding-top: 20px;
    width: 250px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.social .icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding-bottom: 20px;
}
.social .icons a{
    color: #c7d02f;
    border-radius: 15px;

}

.social .socialIcon{
    font-size: 40px;
}

.footerOverlay .menu {
    border-right: 1px solid #282828;
    border-bottom: 1px solid #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #282828;
}

.contacts {
    border-right: 1px solid #282828;
    border-bottom: 1px solid #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other {
    border-bottom: 1px solid #282828;
    border-right: 1px solid #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other p {
    padding-left: 10px;
    padding-bottom: 0;
}

/*.other button {
    color: #E5E5E5;
    margin-top: 0;
    background-color: #282828;
    cursor: pointer;
}*/

.lang {
    padding-top: 30px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.switchLanguage {
    display: flex;
    justify-content: space-around;
    width: 50px;
}

.other .lang p {
    text-decoration: underline;
}
.other button{
    margin-top: 50px;
    height: 50px;
    background-color: #c7d02f;
    border: none;
    color: #282828;
}

.police {
    font-size: 12px;
    padding-top: 45px;
    opacity: 50%;
}

@media (max-width: 600px) {
    .footerOverlay {
        display: flex;
        flex-direction: column;
    }
    .footerOverlay .menu{
        display: none;
    }
    .footerOverlay .lang{
        display: none;
    }
}