.clientsOverlay {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    /*background-color: #c5d02f;*/
}

.clientsOverlay h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 36px;
    color: #c7d02f;
}

.clientsBlock {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: content-box;
}

.clientsItem {
    align-self: center;
    justify-self: center;
    padding: 20px ;
    height: 150px;
}
.clientsItem img{
    width: 100%;
}


@media (max-width: 1200px) {
    .clientsBlock {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}
@media (max-width: 600px) {
    .clientsOverlay h2 {
        padding-top: 30px;
        text-align: center;
        font-size: 24px;
        color: #c7d02f;
    }
    .clientsBlock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 400px) {
    .clientsOverlay h2{
        align-self: center;
        margin: 0;
        padding: 20px 0 0 0;
    }
    .clientsBlock {
        display: flex;
        flex-direction: column;
    }

    .clientsItem {
        align-self: center;
    }

    .clientsItem:nth-child(5) {
        align-self: center;
    }

    .clientsItem:nth-child(6) {
        border-bottom: none;
    }
}
