.overlay {
    background-color: #434343;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.accordion {
    max-width: 1440px;
}

.accordion_item {
    list-style: none;
}

ul {
    width: 85%;
}

.accordion_toggle {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #434343;
    padding: 1em;
}
.accordion h3 {
    margin: 0;
    font-size: 20px;
    padding-bottom: 20px;
}

span{
    font-size: 28px;
    color: #c7d02f;
}

.accordion-toggle:hover {
    background-color: #999999;
}


.accordion-toggle h3 {
    margin: 0;
}

.contentOverlay{

}

.accordion_content {
    font-size: 0;
    animation: ani 1s forwards;
    background-color: #eee;
    padding: 1em;
}

@keyframes ani {
    0% {font-size: 0;}
    100% {font-size: 16px;}
}