.furnitureCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
}
.card{
    position: relative;
    width: 100%;
    height: 510px;
    display: flex;
    align-self: center;
}
.card img{
    position: absolute;
    width: 100%;
    filter: brightness(75%);
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.furnitureCards h2{
    top: 40%;
    left: 10px;
    position: absolute;
    z-index: 5;
    font-size: calc(16px + 16 * (100vw / 1280));
    color: #E5E5E5;
}
.bad{
    height: 205px;
}
.bad h2{
   top: 40%;
}
.tumb{
    height: 290px;
    margin-top: 15px;
}
.tumb h2{
    top: 40%;
}


@media (max-width: 1200px) {
    .furnitureCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 800px) {
    .furnitureCards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        margin-top: 0;
        align-self: center;
    }
    .furnitureCards h2 {
        top: 75%;
    }
    .tumb{
        margin-top: 10px;
    }
}